<% game = board %>
<div class="column span-21 first last">
<div class="column board-span-<%= game.size.to_s %> board">
<% game.size.times do |row| %>
	<div class="column board-row first last row-height">
	<% game.size.times do |col| %>
		<div id="cell_<%= [col,row].join('_') %>" go_col="<%= col %>" go_row="<%= row %>" class="column span-1  row-height <%= get_cell_image(game,row,col) %> board-cell" onClick="makeMove($(this), '<%= game.id %>', '<%= game.this_player(session[:user_id]).player_tag %>', '<%= game.this_player(session[:user_id]).id %>')"><div piece_image="true" class="piece_image">&nbsp;</div><div played_marker="true" class="played_marker" >&nbsp;</div></div>
	<% end %>
	</div>
<% end %>
</div>
<div class="column span-4 last">
	<div class="column span-4 first last">
		<div class="column span-1 first black_player_legend">
			&nbsp;
		</div>
		<div class="column span-2 prepend-1 last">
			<div display_key="whose_turn" <% if game.next_player == game.white_player %> style="display: none"<% end %>>	&lt;-- next
			</div>
		</div>
	</div>
	<div class="column span-4 first last">
		<%= game.black_player.user.login %>
	</div>
	<div class="span-4 first last">&nbsp;</div>
	<div class="column span-4 first last">
		<div class="column span-1 first white_player_legend">
			&nbsp;
		</div>
		<div class="column span-2 prepend-1 last">
			<div display_key="whose_turn" <% if game.next_player == game.black_player %> style="display: none"<% end %>>	&lt;-- next</div>
		</div>
	</div>
	<div class="column span-4 first last">
		<%= game.white_player.user.login %>
	</div>
</div>
</div>
<% javascript_tag do %>
	<% game.size.times do |row| %>
		<% game.size.times do |col| %>
			$('#cell_<%= [col,row].join('_') %>').data('go_col', <%= col %>);
			$('#cell_<%= [col,row].join('_') %>').data('go_row', <%= row %>);
			<% if player_id = game.latest_frame.position_at_coordinates(col,row).player_id and player_id != 0%>
				<% 	player = Player.find(player_id) %>
				preloadPosition($('#cell_<%= [col,row].join('_') %>'),'<%= player.player_tag %>',<%= (game.latest_played_position and game.latest_played_position.has_coordinates(col,row)) ? 'true' : 'false' %>)
			<% end %>
		<% end %>
	<% end %>
<% end %>
<% if game.current_player == game.this_player(session[:user_id]) %>
<!-- <%= game.id %>,
	<%= game.this_player(session[:user_id]).player_tag %>,
	<%= game.this_player(session[:user_id]).id %> -->
 <% javascript_tag do %>
		checkForMove('<%= game.id %>',
			'<%= game.this_player(session[:user_id]).player_tag %>',
			'<%= game.this_player(session[:user_id]).id %>');
	<% end %>
<% end %>